//main: main.less

@media (max-width: 768px) {
.offcanvas-sidebar-mobile .woodmart-sticky-sidebar-opener {
        display: none!important;
}
    .marca {
                margin-top: -25px;
            background-color: #c9ad62;
    }
    
    /*LOGO*/
    .whb-scroll-stick .woodmart-logo img {
    padding-top: 0;
    transform: scale(2) translateY(15px);
}
    
    //Fix slide
    
    canvas{
        touch-action:auto !important;
    }
    
    .scene-nav{
        display: none;
    }
    
    /*Esquema por defecto para las secciones*/
    .grid {
		    display: initial;
        .col {
            width: 100%;
        }
        .col2 {
            width: 100%;
        }
        
        &.invertido{
            flex-wrap: wrap-reverse;
        } 
    }
    
.template-section a.btn {
    margin: 0 auto;
    display: block;
     margin-top: 25px;
    padding: 15px;
    margin-left: 10px!important;
    margin-right: 10px;
}
    


    .template-section {
        .col {
            min-height: auto;
            padding: 20px;
        }
		h1 {
			    font-size: 36px;
		}
        h2 {
			    font-size: 32px;
		}
    }
    #banner {
     padding: inherit;
        position: relative;
        h2 {
        font-size: 30px;
    position: relative;
        left: 192px;
    top: 194px;
   
        }
        .bannernosotras p {
        left: 200px;
    font-size: 16px;
    color: white;
}
        .center{
          
    text-align: left;
        left: 0px;
    top: 198px;

         .btn {
       padding: 10px!important;
                 text-align: center!important;
    position: relative;
    right: 30px;
            }
            
        
        }
        .center2{
          
    text-align: left;
        left: -25px;
    top: 198px;

         .btn {
       padding: 10px!important;
                 text-align: center!important;
    position: relative;
    right: 30px;
            }
            
        
        }
        
    }
    .whb-scroll-stick .woodmart-logo img {
         margin-top: -80px;
}
   body.product-template-default #pagar .colpr, body.page-template-tienda2 #pagar .colpr {
    width: 100%;
    }
    #catalogo {
    padding-top: inherit;
}
    #joyeria {
                margin-top: 130px;
        hr {
                display: none;
        }
        .invitamos {
                width: auto;
                margin-bottom: -160px;
        }
    }
    #contacto .social {
            margin-top: -20px;
    }
    #contacto .blanco h2 {
    text-align: left;
    position: relative;
    left: 30px;
    margin-top: 10px;
}
    #contacto .azul p.prioridad {
    text-align: center;
    }
    #contacto .azul .grid2 .col {
   
    text-align: center;
            padding: inherit;
    margin-top: 30px;
}
 .brindamos {
            width: inherit!important;
     img{
          margin-bottom: 5px;
         &.logo {
        margin-bottom: 15px;
         width: 50%;
     }
     }
    }
    
    footer {
        grid {
            display: flex;
        }
        .lap {
        display: none;
    }
    .movil {
        display: inherit;
    }
        p {
                font-size: 12px!important;
        }
    }
    #tienda .fondo {
    background: url(../img/joyamovil.png) no-repeat center;
    margin-bottom: 50px;
}
    #tienda .col {
    min-height: 618px;
    }
   
    #tienda2{
        .col {
        min-height: 342px;
    }
        p {
    max-width: initial;
    margin: auto;
    padding: 20px;
    position: relative;
    right: 0px;
    color: #535353;
    text-align: justify;
}
        h1 {
    
    right: -18px;
        }
    }
    #nosotros{
        h1 {
        right: inherit;
    }
        .somos {
                width: 100%;
                font-size: 34px;
                margin-top: -14px;
                padding: 1em 1em;
        }
        .fondo {
    background: url(../img/arelimovil.jpg) no-repeat center;
}
        .shop-loop-head {
    margin-top: -0px;
}
        .soy {
                position: relative;
       top: 445px;
        }
        .fondo {
            position: relative;
           top: -540px;
        }
        p {
                right: inherit;
            width: 300px;
        }
        
    }
    #nosotros2{
       .fondo {
    background: url(../img/sammovil.jpg) no-repeat center;
}
        .somos {
    background-color: #00c3a8;
    font-weight: bold;
    margin: 2em auto;
    overflow: hidden;
    padding: 1.5em 1.5em;
    position: relative;
    width: 100%;
    top: -253px;
    right: inherit;
    z-index: 1;
}
         h1 {
             left: inherit;
    font-weight: normal;
    color: #00c3a8;
    position: relative;
    text-align: center;
    right: inherit;
    font-size: 50px;
    margin-top: inherit;
           top: -650px;
}
       .col {
       min-height: 457px;
    text-align: center;
    padding: inherit;
    position: relative;
        top: -108px;
}
        p {
    font-weight: normal;
       width: inherit;
    margin: 20px 0px;
    position: relative;
    right: inherit;
    left: inherit;
    color: white;
    text-align: justify;
}
    }
    #marca {
                margin-top: -375px;
        hr {
            display: none;
        }
        .invitamos {
                width: inherit;
        }
    }
    #familia {
        hr {
            display: none;
        }
        .invitamos {
                width: inherit;
        }
    }
    body.product-template-default #pagar .colpr {
    width: 100%;
    padding: 0px;
}
    #tienda{
        .somos{
            margin-top: inherit;
        h2 {
    
    right: inherit;
}
}
        h1 {
    color: #c9ad62;
    position: relative;
    right: inherit;
    font-size: 50px;
    top: 0px;
}
        p {
    width: 300px;
                right: inherit;
        }
    }
    #elegir {
        img {
                display: block;
    margin: auto;
        }
    }
    #catalogo{
        h3.white {
    color: white;
    /* text-align: center; */
    font-size: 18px;
    }
       .tooltip2 .tooltiptext {
   
    top: 52px;
        }
    }

}