@font-face {
    font-family: 'Futura Round';
    src: url('FuturaRound-Bold.woff2') format('woff2'),
        url('FuturaRound-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Round';
    src: url('FuturaRound-Book.woff2') format('woff2'),
        url('FuturaRound-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tumbly';
    src: url('Tumbly.woff2') format('woff2'),
        url('Tumbly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

